# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp500_history.csv`: Contains historical closing prices of the S&P 500 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data

In [20]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline


# Reading whale returns
CSV_PATH = Path("../Starter_Code/Resources/whale_returns.csv")
whale_df = pd.read_csv(CSV_PATH) 
whale_df

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,2015-03-02,NaN,NaN,NaN,NaN
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
...,...,...,...,...,...
1055,2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
1056,2019-04-26,0.008149,0.009162,0.012355,0.010434
1057,2019-04-29,0.001254,0.002719,0.006251,0.005223
1058,2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
1059,2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

In [2]:
# Count nulls

whale_df.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [3]:
# Drop nulls
whale_df.dropna()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
5,2015-03-09,0.000582,0.004225,0.005843,-0.001652
...,...,...,...,...,...
1055,2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
1056,2019-04-26,0.008149,0.009162,0.012355,0.010434
1057,2019-04-29,0.001254,0.002719,0.006251,0.005223
1058,2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
1059,2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data

In [4]:
# Reading algorithmic returns
alg_csvpath = Path("../Starter_Code/algo_returns.csv")
algo_df = pd.read_csv(alg_csvpath)
algo_df

            Date    Algo 1    Algo 2
0     2014-05-28  0.001745       NaN
1     2014-05-29  0.003978       NaN
2     2014-05-30  0.004464       NaN
3     2014-06-02  0.005692       NaN
4     2014-06-03  0.005292       NaN
...          ...       ...       ...
1236  2019-04-25  0.000682 -0.007247
1237  2019-04-26  0.002981  0.005256
1238  2019-04-29  0.005208  0.002829
1239  2019-04-30 -0.002944 -0.001570
1240  2019-05-01  0.000094 -0.007358

[1241 rows x 3 columns]

In [5]:
# Count nulls
algo_df.isnull().sum()

Date      0
Algo 1    0
Algo 2    6
dtype: int64

In [6]:
# Drop nulls
algo_df.dropna(axis='columns')

            Date    Algo 1
0     2014-05-28  0.001745
1     2014-05-29  0.003978
2     2014-05-30  0.004464
3     2014-06-02  0.005692
4     2014-06-03  0.005292
...          ...       ...
1236  2019-04-25  0.000682
1237  2019-04-26  0.002981
1238  2019-04-29  0.005208
1239  2019-04-30 -0.002944
1240  2019-05-01  0.000094

[1241 rows x 2 columns]

## S&P 500 Returns

Read the S&P 500 historic closing prices and create a new daily returns DataFrame from the data.

In [7]:
# Reading S&P 500 Closing Prices
sp_csvpath = Path("../Starter_Code/sp500_history.csv")
sp_df=pd.read_csv(sp_csvpath)
sp_df

           Date     Close
0     23-Apr-19  $2933.68
1     22-Apr-19  $2907.97
2     18-Apr-19  $2905.03
3     17-Apr-19  $2900.45
4     16-Apr-19  $2907.06
...         ...       ...
1644   5-Oct-12  $1460.93
1645   4-Oct-12  $1461.40
1646   3-Oct-12  $1450.99
1647   2-Oct-12  $1445.75
1648   1-Oct-12  $1444.49

[1649 rows x 2 columns]

In [8]:
# Check Data Types
sp_df.dtypes

Date     object
Close    object
dtype: object

In [9]:
# Fix Data Types

sp_df["Close"] = sp_df["Close"].str.replace("$", "")
sp_df["Close"] = sp_df["Close"].str.replace(",", "")
sp_df["Close"] = sp_df["Close"].astype("float")
sp_df.dtypes

<ipython-input-9-34a2240961ef>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  sp_df["Close"] = sp_df["Close"].str.replace("$", "")

Date      object
Close    float64
dtype: object

In [11]:
# Calculate Daily Returns
sp_df['daily_return'] = (sp_df['Close']/ sp_df['Close'].shift(1)) -1

sp_df

           Date    Close  daily_return
0     23-Apr-19  2933.68           NaN
1     22-Apr-19  2907.97     -0.008764
2     18-Apr-19  2905.03     -0.001011
3     17-Apr-19  2900.45     -0.001577
4     16-Apr-19  2907.06      0.002279
...         ...      ...           ...
1644   5-Oct-12  1460.93      0.003469
1645   4-Oct-12  1461.40      0.000322
1646   3-Oct-12  1450.99     -0.007123
1647   2-Oct-12  1445.75     -0.003611
1648   1-Oct-12  1444.49     -0.000872

[1649 rows x 3 columns]

In [12]:
# Drop nulls
sp_df.dropna()

           Date    Close  daily_return
1     22-Apr-19  2907.97     -0.008764
2     18-Apr-19  2905.03     -0.001011
3     17-Apr-19  2900.45     -0.001577
4     16-Apr-19  2907.06      0.002279
5     15-Apr-19  2905.58     -0.000509
...         ...      ...           ...
1644   5-Oct-12  1460.93      0.003469
1645   4-Oct-12  1461.40      0.000322
1646   3-Oct-12  1450.99     -0.007123
1647   2-Oct-12  1445.75     -0.003611
1648   1-Oct-12  1444.49     -0.000872

[1648 rows x 3 columns]

In [13]:
# Rename `Close` Column to be specific to this portfolio.
sp_df.rename(columns={'Close':'SP500'},inplace=True)
sp_df.head()

        Date    SP500  daily_return
0  23-Apr-19  2933.68           NaN
1  22-Apr-19  2907.97     -0.008764
2  18-Apr-19  2905.03     -0.001011
3  17-Apr-19  2900.45     -0.001577
4  16-Apr-19  2907.06      0.002279

## Combine Whale, Algorithmic, and S&P 500 Returns

In [14]:
# Join Whale Returns, Algorithmic Returns, and the S&P 500 Returns into a single DataFrame with columns for each portfolio's returns.
df_row = pd.concat([whale_df,algo_df,sp_df])
df_row

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2,SP500,daily_return
0,2015-03-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,NaN,NaN,NaN,NaN
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213,NaN,NaN,NaN,NaN
3,2015-03-05,0.004016,0.004076,0.002355,0.006726,NaN,NaN,NaN,NaN
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1644,5-Oct-12,NaN,NaN,NaN,NaN,NaN,NaN,1460.93,0.003469
1645,4-Oct-12,NaN,NaN,NaN,NaN,NaN,NaN,1461.40,0.000322
1646,3-Oct-12,NaN,NaN,NaN,NaN,NaN,NaN,1450.99,-0.007123
1647,2-Oct-12,NaN,NaN,NaN,NaN,NaN,NaN,1445.75,-0.003611
1648,1-Oct-12,NaN,NaN,NaN,NaN,NaN,NaN,1444.49,-0.000872

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [16]:
# Plot daily returns of all portfolios
daily_returns = df_row.pct_change()
daily_returns.head()

TypeError: unsupported operand type(s) for /: 'str' and 'str'

#### Calculate and Plot cumulative returns.

In [ ]:
# Calculate cumulative returns of all portfolios

# Plot cumulative returns

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios
4. Determine which portfolios are riskier than the S&P 500
5. Calculate the Annualized Standard Deviation

### Create a box plot for each portfolio

In [ ]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [ ]:
# Calculate the daily standard deviations of all portfolios

### Determine which portfolios are riskier than the S&P 500

In [ ]:
# Calculate  the daily standard deviation of S&P 500

# Determine which portfolios are riskier than the S&P 500

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for all portfolios using a 21-day window
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P 500
3. Choose one portfolio, then calculate and plot the 60-day rolling beta between it and the S&P 500

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [ ]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 500

In [ ]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P 500

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half-life.

In [ ]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Annualized Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P 500) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P 500. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others
5. Include correlation analysis to determine which stocks (if any) are correlated

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

For this demo solution, we fetch data from three companies listes in the S&P 500 index.

* `GOOG` - [Google, LLC](https://en.wikipedia.org/wiki/Google)

* `AAPL` - [Apple Inc.](https://en.wikipedia.org/wiki/Apple_Inc.)

* `COST` - [Costco Wholesale Corporation](https://en.wikipedia.org/wiki/Costco)

In [ ]:
# Reading data from 1st stock
csvpath = Path("../Starter_Code/Resources/goog_historical.csv")
goog_df = pd.read_csv(csvpath)
goog_df.head()

In [ ]:
# Reading data from 2nd stock
csvpath = Path("../Starter_Code/Resources/aapl_historical.csv")
aapl_df = pd.read_csv(csvpath)
aapl_df.head()

In [ ]:
# Reading data from 3rd stock
csvpath = Path("../Starter_Code/Resources/cost_historical.csv")
cost_df=pd.read_csv(csvpath)
cost_df.head()

In [ ]:
# Combine all stocks in a single DataFrame
df_row = pd.concat([goog_df,aapl_df,cost_df])

In [ ]:
# Reset Date index

In [ ]:
# Reorganize portfolio data by having a column per symbol

In [ ]:
# Calculate daily returns

# Drop NAs

# Display sample data

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [ ]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [ ]:
# Join your returns DataFrame to the original returns DataFrame

In [ ]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [ ]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate and plot the correlation

### Calculate and Plot Rolling 60-day Beta for Your Portfolio compared to the S&P 500

In [ ]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Calculate Annualzied Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!